.tox
.python-version
TODO
*/__pycache__/
*/*/__pycache__/
src/udon2.egg-info/
build/
dist
udon2_cpp_src/main.cpp
udon2_cpp_src/main
benchmarks/*.conllu
*.log
udon2_cpp_src/html/
udon2_cpp_src/latex/
udon2_cpp_src/*.txt
wheelhouse/
boost/
boost_1_74_0.tar.bz2
test_boost/
*.txt
__pycache__/*
examples/
tests/external/
